extends layout

block content
  - if(session.error)
    h2 Error
    p
      = session.error
  - if(session.quote)
    p(id='quote') !{session.quote}
    style.
        html {
          font-size: 40px;
        }
    script.
      //use setInterval - I think sometimes it misses the reload with setTimeout if the window is hidden or something
      setInterval(function(){ window.location.reload() }, 300000);//refresh every 5 minutes
      //setInterval(function(){ window.location.reload() }, 5000);
    
